<header>
  <div class="m-6">
    <nav class="navbar navbar-expand-xl">
      <div class="container-fluid">
        <a href="#" class="navbar-brand" routerLink="home">MJ Technologies</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="../home">Home</a>
            <a class="nav-item nav-link" routerLink="about-us">About Us</a>
            <a class="nav-item nav-link" routerLink="products">Products</a>
            <a class="nav-item nav-link" routerLink="contact-us">Contact Us</a>
          </div>
        </div>
        <a href="https://twitter.com/JamdarMayurB" target="_blank"><bi name="twitter" class="someclass" ></bi></a>
        <a href="https://www.facebook.com/mayur.jamdar.75" target="_blank"><bi name="facebook" class="someclass"></bi></a>
        <a href="https://api.whatsapp.com/send/?phone=919975661465&text&type=phone_number&app_absent=0" target="_blank" style="color: green;"><bi name="whatsapp" class="someclass"></bi></a>
      </div>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="#">MJTechnology.com</a>
  </div>
  <!-- Copyright -->
</footer>