<div>
	<p>Our company is an export company, and our motto is “We are a team of people. We never stop, and we always do our best.” We are dedicated to serving our customers and growing our business. We are a team of people that work hard to provide the best customer service possible.</p>
	
	<h2>We Exports</h2>
	</div>
	<div class="card-group">
		<div class="card">
			<img class="card-img-top" src="../../assets/img/Web_Design.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Web Design</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
					content. This content is a little bit longer.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="../../assets/img/Pricing.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Hosting</h5>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="../../assets/img/website.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Pricing</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
					content. This card has even longer content than the first to show that equal height action.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			</div>
		</div>
	</div>