<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/img/cattle_feed.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>Cattle Feed</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/img/pomegranate.png" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Pomegranate</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/img/turmeric.png" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Turmeric</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="main-info">
	<h1>Welcome to <span class="company-name">MJ Technologies</span></h1>
</div>
<p class="info">
	Welcome to MJ Technologies We are a WordPress web design and development company that specializes in creating high-quality websites for small businesses and individuals. We have been in the business of creating and developing websites since 2010. Our team is comprised of talented and experienced web developers, graphic designers, and SEO specialists. We are experts in WordPress website design and development, and we have the skills and expertise to create a website that will meet your needs and be successful. We have a broad range of experience and skills that we can use to create a website that is unique to your business. We have a proven track record of success with our clients. We have been able to provide a wide range of services that includes website design and development, graphic design, web marketing, and search engine optimization.</p>

<div class="main-info">
	<h1>We Export</h1>
</div>

<div class="card-group">
	<div class="card">
		<img class="card-img-top" src="../../assets/img/Web_Design.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Web Design</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This content is a little bit longer.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="../../assets/img/Pricing.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Hosting</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="../../assets/img/website.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Pricing</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content. This card has even longer content than the first to show that equal height action.</p>
			<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
	</div>
</div>

<div class="main-info">
	<h1>Why Choose Us?</h1>
</div>

<div class="card text-white bg-primary mb-4" style="margin: 0 15% 0 15%;">
	<div class="card-header">Header</div>
	<div class="card-body">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
</div>
<div class="card text-white bg-secondary mb-4" style="margin: 0 15% 0 15%;">
	<div class="card-header">Header</div>
	<div class="card-body">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
</div>
<div class="card text-white bg-success mb-4" style="margin: 0 15% 0 15%;">
	<div class="card-header">Header</div>
	<div class="card-body">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
</div>
<div class="card text-white bg-warning mb-4" style="margin: 0 15% 0 15%;">
	<div class="card-header">Header</div>
	<div class="card-body">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
</div>
<div class="card text-white bg-danger mb-4" style="margin: 0 15% 0 15%;">
	<div class="card-header">Header</div>
	<div class="card-body">
		<h5 class="card-title">Primary card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
			content.</p>
	</div>
</div>